In [1]:
import pandas as pd
import os

In [8]:
playoff2020 = pd.read_csv("2020.csv")
print(playoff2020)

    Rk   G        Date     Age   Tm Unnamed: 5  Opp Unnamed: 7  GS     MP  \
0    1   1  2020-08-18  35-232  LAL        NaN  POR     L (-7)   1  41:03
1    2   2  2020-08-20  35-234  LAL        NaN  POR    W (+23)   1  26:41
2    3   3  2020-08-22  35-236  LAL          @  POR     W (+8)   1  34:29
3    4   4  2020-08-24  35-238  LAL          @  POR    W (+20)   1  28:18
4    5   5  2020-08-29  35-243  LAL        NaN  POR     W (+9)   1  33:52
5    6   6  2020-09-04  35-249  LAL        NaN  HOU    L (-15)   1  36:34
6    7   7  2020-09-06  35-251  LAL        NaN  HOU     W (+8)   1  39:16
7    8   8  2020-09-08  35-253  LAL          @  HOU    W (+10)   1  37:31
8    9   9  2020-09-10  35-255  LAL          @  HOU    W (+10)   1  33:45
9   10  10  2020-09-12  35-257  LAL        NaN  HOU    W (+23)   1  30:48
10  11  11  2020-09-18  35-263  LAL        NaN  DEN    W (+12)   1  30:54
11  12  12  2020-09-20  35-265  LAL        NaN  DEN     W (+2)   1  36:25
12  13  13  2020-09-22  35-267  LAL          @  DEN     L (-8)   1  37:15
13  14  14  2020-09-24  35-269  LAL          @  DEN     W (+6)   1  38:21
14  15  15  2020-09-26  35-271  LAL        NaN  DEN    W (+10)   1  40:01
15  16  16  2020-09-30  35-275  LAL        NaN  MIA    W (+18)   1  36:24
16  17  17  2020-10-02  35-277  LAL        NaN  MIA    W (+10)   1  39:09
17  18  18  2020-10-04  35-279  LAL          @  MIA    L (-11)   1  39:13
18  19  19  2020-10-06  35-281  LAL          @  MIA     W (+6)   1  38:38
19  20  20  2020-10-09  35-284  LAL        NaN  MIA     L (-3)   1  41:51
20  21  21  2020-10-11  35-286  LAL          @  MIA    W (+13)   1  41:13

    ...  DRB  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc  +/-
0   ...   15   17   16    1    0    4   1   23  25.1   -3
1   ...    6    6    7    2    0    6   1   10   6.2   23
2   ...   11   12    8    2    0    8   3   38  30.2    2
3   ...    5    6   10    0    1    2   2   30  31.9   17
4   ...   10   10   10    1    1    5   1   36  34.6   20
5   ...    7    8    7    0    2    4   2   20  16.2  -15
6   ...   11   11    9    4    2    7   3   28  25.7   15
7   ...    7    7    5    1    4    2   1   36  30.5    8
8   ...   14   15    9    3    0    4   2   16  15.9   15
9   ...    9   11    7    2    1    4   2   29  26.1   19
10  ...    5    6   12    0    0    3   2   15  16.1   15
11  ...    9   11    4    0    2    6   2   26  17.1   -9
12  ...    9   10   11    2    2    6   1   30  27.2    2
13  ...    8    9    8    0    0    0   2   26  22.9    8
14  ...   13   16   10    1    0    2   2   38  37.3   12
15  ...   12   13    9    1    0    2   3   25  24.7   10
16  ...    7    9    9    1    1    0   2   33  30.6    7
17  ...    9   10    8    0    2    8   2   25  17.8   -4
18  ...   10   12    8    1    0    6   2   28  23.4   -2
19  ...   10   13    7    3    0    4   1   40  39.1    7
20  ...   11   14   10    1    0    1   3   28  29.2   18

[21 rows x 30 columns]

In [13]:
opponents = playoff2020['Opp'].unique()

['POR' 'HOU' 'DEN' 'MIA']

In [15]:
round1 = playoff2020[playoff2020['Opp'] == opponents[0]]
print(round1)

   Rk  G        Date     Age   Tm Unnamed: 5  Opp Unnamed: 7  GS     MP  ...  \
0   1  1  2020-08-18  35-232  LAL        NaN  POR     L (-7)   1  41:03  ...
1   2  2  2020-08-20  35-234  LAL        NaN  POR    W (+23)   1  26:41  ...
2   3  3  2020-08-22  35-236  LAL          @  POR     W (+8)   1  34:29  ...
3   4  4  2020-08-24  35-238  LAL          @  POR    W (+20)   1  28:18  ...
4   5  5  2020-08-29  35-243  LAL        NaN  POR     W (+9)   1  33:52  ...

   DRB  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc  +/-
0   15   17   16    1    0    4   1   23  25.1   -3
1    6    6    7    2    0    6   1   10   6.2   23
2   11   12    8    2    0    8   3   38  30.2    2
3    5    6   10    0    1    2   2   30  31.9   17
4   10   10   10    1    1    5   1   36  34.6   20

[5 rows x 30 columns]

In [19]:
seriesArr = []
for i in range(4):
    seriesArr.append(playoff2020[playoff2020['Opp']== opponents[i]])
print(seriesArr)

[   Rk  G        Date     Age   Tm Unnamed: 5  Opp Unnamed: 7  GS     MP  ...  \
0   1  1  2020-08-18  35-232  LAL        NaN  POR     L (-7)   1  41:03  ...
1   2  2  2020-08-20  35-234  LAL        NaN  POR    W (+23)   1  26:41  ...
2   3  3  2020-08-22  35-236  LAL          @  POR     W (+8)   1  34:29  ...
3   4  4  2020-08-24  35-238  LAL          @  POR    W (+20)   1  28:18  ...
4   5  5  2020-08-29  35-243  LAL        NaN  POR     W (+9)   1  33:52  ...

   DRB  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc  +/-
0   15   17   16    1    0    4   1   23  25.1   -3
1    6    6    7    2    0    6   1   10   6.2   23
2   11   12    8    2    0    8   3   38  30.2    2
3    5    6   10    0    1    2   2   30  31.9   17
4   10   10   10    1    1    5   1   36  34.6   20

[5 rows x 30 columns],    Rk   G        Date     Age   Tm Unnamed: 5  Opp Unnamed: 7  GS     MP  ...  \
5   6   6  2020-09-04  35-249  LAL        NaN  HOU    L (-15)   1  36:34  ...
6   7   7  2020-09-06  35-251  LAL        NaN  HOU     W (+8)   1  39:16  ...
7   8   8  2020-09-08  35-253  LAL          @  HOU    W (+10)   1  37:31  ...
8   9   9  2020-09-10  35-255  LAL          @  HOU    W (+10)   1  33:45  ...
9  10  10  2020-09-12  35-257  LAL        NaN  HOU    W (+23)   1  30:48  ...

   DRB  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc  +/-
5    7    8    7    0    2    4   2   20  16.2  -15
6   11   11    9    4    2    7   3   28  25.7   15
7    7    7    5    1    4    2   1   36  30.5    8
8   14   15    9    3    0    4   2   16  15.9   15
9    9   11    7    2    1    4   2   29  26.1   19

[5 rows x 30 columns],     Rk   G        Date     Age   Tm Unnamed: 5  Opp Unnamed: 7  GS     MP  \
10  11  11  2020-09-18  35-263  LAL        NaN  DEN    W (+12)   1  30:54
11  12  12  2020-09-20  35-265  LAL        NaN  DEN     W (+2)   1  36:25
12  13  13  2020-09-22  35-267  LAL          @  DEN     L (-8)   1  37:15
13  14  14  2020-09-24  35-269  LAL          @  DEN     W (+6)   1  38:21
14  15  15  2020-09-26  35-271  LAL        NaN  DEN    W (+10)   1  40:01

    ...  DRB  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc  +/-
10  ...    5    6   12    0    0    3   2   15  16.1   15
11  ...    9   11    4    0    2    6   2   26  17.1   -9
12  ...    9   10   11    2    2    6   1   30  27.2    2
13  ...    8    9    8    0    0    0   2   26  22.9    8
14  ...   13   16   10    1    0    2   2   38  37.3   12

[5 rows x 30 columns],     Rk   G        Date     Age   Tm Unnamed: 5  Opp Unnamed: 7  GS     MP  \
15  16  16  2020-09-30  35-275  LAL        NaN  MIA    W (+18)   1  36:24
16  17  17  2020-10-02  35-277  LAL        NaN  MIA    W (+10)   1  39:09
17  18  18  2020-10-04  35-279  LAL          @  MIA    L (-11)   1  39:13
18  19  19  2020-10-06  35-281  LAL          @  MIA     W (+6)   1  38:38
19  20  20  2020-10-09  35-284  LAL        NaN  MIA     L (-3)   1  41:51
20  21  21  2020-10-11  35-286  LAL          @  MIA    W (+13)   1  41:13

    ...  DRB  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc  +/-
15  ...   12   13    9    1    0    2   3   25  24.7   10
16  ...    7    9    9    1    1    0   2   33  30.6    7
17  ...    9   10    8    0    2    8   2   25  17.8   -4
18  ...   10   12    8    1    0    6   2   28  23.4   -2
19  ...   10   13    7    3    0    4   1   40  39.1    7
20  ...   11   14   10    1    0    1   3   28  29.2   18

[6 rows x 30 columns]]

In [2]:
print(os.getcwd())

C:\DataAnalysis\LebronPlayoffData

In [3]:
datafolder = os.path.join(os.getcwd(), "Data")
def combineAllData(datafolder):
    """
        Combine all the CSV data files into one dataframe
        Arguments:
            datafolder: Path to the Data folder
        Returns:
            a Pandas dataframe with all the data combined. 
    """
    pdDataFrames = []
    for csvFile in os.listdir(datafolder):
        filePath = os.path.join(datafolder, csvFile)
        pdDataFrames.append(pd.read_csv(filePath))
    return pd.concat(pdDataFrames, ignore_index=True)

In [4]:
combinedDf = combineAllData(datafolder)
combinedDf.to_excel("Combined.xlsx", index=False)
combinedDf.head

<bound method NDFrame.head of      Rk  G        Date     Age   Tm Unnamed: 5  Opp Unnamed: 7  GS     MP  \
0     1  1  2006-04-22  21-113  CLE        NaN  WAS    W (+11)   1  48:00
1     2  2  2006-04-25  21-116  CLE        NaN  WAS     L (-5)   1  43:28
2     3  3  2006-04-28  21-119  CLE          @  WAS     W (+1)   1  47:37
3     4  4  2006-04-30  21-121  CLE          @  WAS    L (-10)   1  45:20
4     5  5  2006-05-03  21-124  CLE        NaN  WAS     W (+1)   1  46:07
..   .. ..         ...     ...  ...        ...  ...        ...  ..    ...
261   2  2  2021-05-25  36-146  LAL          @  PHO     W (+7)   1  38:54
262   3  3  2021-05-27  36-148  LAL        NaN  PHO    W (+14)   1  37:45
263   4  4  2021-05-30  36-151  LAL        NaN  PHO     L (-8)   1  37:50
264   5  5  2021-06-01  36-153  LAL          @  PHO    L (-30)   1  31:39
265   6  6  2021-06-03  36-155  LAL        NaN  PHO    L (-13)   1  41:25

     ...  DRB  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc  +/-
0    ...    8   11   11    0    0    4   3   32  23.3   11
1    ...    7    9    2    2    3   10   5   26   6.7   -2
2    ...    4    5    3    2    0    4   3   41  27.4    1
3    ...    5    6    5    0    0    7   5   38  23.0  -16
4    ...    2    7    6    2    0    4   5   45  38.4   -4
..   ...  ...  ...  ...  ...  ...  ...  ..  ...   ...  ...
261  ...    4    4    9    2    0    1   3   23  22.7   14
262  ...    5    6    9    1    0    7   0   21  13.4   15
263  ...   10   12    6    1    0    6   1   25  16.3    6
264  ...    4    5    7    0    0    3   1   24  17.7  -24
265  ...    7    9    7    2    2    3   1   29  22.8   -3

[266 rows x 30 columns]>

In [5]:
def labelGameOnes(combinedDf):
    gameBoolean = []
    prev = ""
    for index, row in combinedDf.iterrows():
        if index == 0 or row['Opp'] != prev:
            gameBoolean.append(True)
            prev = row['Opp']
        else:
            gameBoolean.append(False)   
    combinedDf['Is Game One'] = gameBoolean
labelGameOnes(combinedDf)

In [6]:
combinedDf.head

<bound method NDFrame.head of      Rk  G        Date     Age   Tm Unnamed: 5  Opp Unnamed: 7  GS     MP  \
0     1  1  2006-04-22  21-113  CLE        NaN  WAS    W (+11)   1  48:00
1     2  2  2006-04-25  21-116  CLE        NaN  WAS     L (-5)   1  43:28
2     3  3  2006-04-28  21-119  CLE          @  WAS     W (+1)   1  47:37
3     4  4  2006-04-30  21-121  CLE          @  WAS    L (-10)   1  45:20
4     5  5  2006-05-03  21-124  CLE        NaN  WAS     W (+1)   1  46:07
..   .. ..         ...     ...  ...        ...  ...        ...  ..    ...
261   2  2  2021-05-25  36-146  LAL          @  PHO     W (+7)   1  38:54
262   3  3  2021-05-27  36-148  LAL        NaN  PHO    W (+14)   1  37:45
263   4  4  2021-05-30  36-151  LAL        NaN  PHO     L (-8)   1  37:50
264   5  5  2021-06-01  36-153  LAL          @  PHO    L (-30)   1  31:39
265   6  6  2021-06-03  36-155  LAL        NaN  PHO    L (-13)   1  41:25

     ...  TRB  AST  STL  BLK  TOV  PF  PTS  GmSc  +/-  Is Game One
0    ...   11   11    0    0    4   3   32  23.3   11         True
1    ...    9    2    2    3   10   5   26   6.7   -2        False
2    ...    5    3    2    0    4   3   41  27.4    1        False
3    ...    6    5    0    0    7   5   38  23.0  -16        False
4    ...    7    6    2    0    4   5   45  38.4   -4        False
..   ...  ...  ...  ...  ...  ...  ..  ...   ...  ...          ...
261  ...    4    9    2    0    1   3   23  22.7   14        False
262  ...    6    9    1    0    7   0   21  13.4   15        False
263  ...   12    6    1    0    6   1   25  16.3    6        False
264  ...    5    7    0    0    3   1   24  17.7  -24        False
265  ...    9    7    2    2    3   1   29  22.8   -3        False

[266 rows x 31 columns]>

In [11]:
combinedDf.groupby('Is Game One')[['PTS', 'TOV', '3P%']].mean()

                   PTS       TOV       3P%
Is Game One
False        29.263889  3.736111  0.318304
True         26.200000  3.360000  0.280562

In [12]:
combinedDf.groupby('Opp')[['PTS']].mean()

           PTS
Opp
ATL  29.416667
BOS  29.609756
BRK  30.000000
CHA  30.000000
CHI  26.809524
DAL  17.833333
DEN  27.000000
DET  26.619048
GSW  33.045455
HOU  25.800000
IND  29.733333
MIA  29.833333
MIL  24.500000
NJN  24.666667
NYK  27.800000
OKC  28.600000
ORL  38.500000
PHI  24.200000
PHO  23.333333
POR  27.400000
SAS  25.375000
TOR  31.142857
WAS  31.500000