In [20]:
import pandas as pd
import os

In [21]:
%run TestProductionChange.ipynb

test_prepData (__main__.TestDataPrep) ... ok
test_withNA (__main__.TestDataPrep) ... ok
test_getItemsThatHaveElement (__main__.TestGetItemWithElements) ... ok
test_itemToProductionElementDictionary (__main__.TestItemToProdElement) ... ok
test_productionChange (__main__.TestItemToProdElement) ... ok
test_yieldPrepData (__main__.TestYieldDataPrep) ... ok

----------------------------------------------------------------------
Ran 6 tests in 0.176s

OK
test_prepData (__main__.TestDataPrep) ... ok
test_withNA (__main__.TestDataPrep) ... ok
test_getItemsThatHaveElement (__main__.TestGetItemWithElements) ... ok
test_itemToProductionElementDictionary (__main__.TestItemToProdElement) ... ok
test_productionChange (__main__.TestItemToProdElement) ... ok
test_yieldPrepData (__main__.TestYieldDataPrep) ... ok

----------------------------------------------------------------------
Ran 6 tests in 0.172s

OK

In [22]:
pathToData = os.path.join(os.getcwd(), "Data", "Production_Crops_Livestock_E_All_Data.csv")
agData = pd.read_csv(pathToData, encoding="latin-1")

What are all the different types of elements?

In [23]:
agData['Element'].unique()

array(['Area harvested', 'Yield', 'Production', 'Stocks', 'Laying',
       'Producing Animals/Slaughtered', 'Yield/Carcass Weight',
       'Milk Animals', 'Prod Popultn'], dtype=object)

The production elements are production, stocks, laying, and prod popultn. Look up each in https://www.fao.org/faostat/en/#definitions.

Create a dictionary like {'apples': 'yield', 'beehives': 'stocks', etc.}

In [24]:
agData = agData.drop(agData[agData['Area'] == "China"].index)
prodChangeDF = productionChangeDF(agData, 1961, 2020)
prodChangeDF.head()

,Item,Element,Unit,1961,2020,Change
0,Agave fibres nes,Production,tonnes,34600.0,41114.0,0.19
1,"Almonds, with shell",Production,tonnes,756588.0,4140043.0,4.47
2,"Anise, badian, fennel, coriander",Production,tonnes,82455.0,2224101.0,25.97
3,Apples,Production,tonnes,17053651.0,86442716.0,4.07
4,Apricots,Production,tonnes,1317607.0,3719974.0,1.82

In [25]:
agData.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,ha,NaN,NaN,NaN,...,19481.0,NaN,19793.0,NaN,20053.0,NaN,29203.0,NaN,22134.0,NaN
1,2,Afghanistan,221,"Almonds, with shell",5419,Yield,hg/ha,NaN,NaN,NaN,...,16859.0,Fc,13788.0,Fc,17161.0,Fc,13083.0,Fc,17759.0,Fc
2,2,Afghanistan,221,"Almonds, with shell",5510,Production,tonnes,NaN,NaN,NaN,...,32843.0,NaN,27291.0,NaN,34413.0,NaN,38205.0,NaN,39307.0,NaN
3,2,Afghanistan,711,"Anise, badian, fennel, coriander",5312,Area harvested,ha,NaN,M,NaN,...,24500.0,Im,26500.0,Im,25333.0,Im,25444.0,Im,25759.0,Im
4,2,Afghanistan,711,"Anise, badian, fennel, coriander",5419,Yield,hg/ha,NaN,NaN,NaN,...,7075.0,Fc,7149.0,Fc,7142.0,Fc,7123.0,Fc,7138.0,Fc

In [26]:
prodChangeDF.sort_values(by='Change')

,Item,Element,Unit,1961,2020,Change
299,Yoghurt,Production,tonnes,883.0,1.0,-1.0
170,"Milk, whole evaporated",Production,tonnes,2902814.0,1.0,-1.0
52,"Cheese, whole cow milk",Production,tonnes,3603062.0,1.0,-1.0
51,"Cheese, skimmed cow milk",Production,tonnes,1049930.0,1.0,-1.0
50,"Cheese, sheep milk",Production,tonnes,388888.0,1.0,-1.0
...,...,...,...,...,...,...
124,Kiwi fruit,Production,tonnes,1.0,4407407.0,4407406.0
189,"Offals, pigs, edible",Production,tonnes,1.0,5424519.0,5424518.0
86,"Fat, pigs",Production,tonnes,1.0,8481622.0,8481621.0
186,"Offals, edible, cattle",Production,tonnes,1.0,8513288.0,8513287.0
282,Triticale,Production,tonnes,1.0,15361341.0,15361340.0

Some years might have all NANs. Is it only 2020 where that's the case?

In [27]:
itemToAllNANCols = getYearsAllNANForItems(agData)
print(itemToAllNANCols)

None