In [89]:
import pandas as pd
import os

In [90]:
%run Methods.ipynb

In [91]:
pathToData = os.path.join(os.getcwd(), "Data")
pathToGDPTable = os.path.join(pathToData, "GDP Per Capita.xlsx")
pathToRanking = os.path.join(pathToData, "World Innovation Index.csv")

In [92]:
gdpPerCapita = pd.read_excel(pathToGDPTable, index_col = 0)
gdpPerCapita.head(5)

,Country/Territory,UN Region,IMF Estimate,IMF Year,UN Estimate,UN Year,World Bank Estimate,World Bank Year
0,Liechtenstein,Europe,0,0,"180,227",2020,"175,814",2019
1,Monaco,Europe,0,0,"173,696",2020,"190,513",2019
2,Luxembourg,Europe,"135,046",2022,"117,182",2020,"115,874",2020
3,Bermuda,Americas,0,0,"123,945",2020,"107,080",2020
4,Ireland,Europe,"101,509",2022,"86,251",2020,"85,268",2020

In [93]:
innovationRanking = pd.read_csv(pathToRanking)
innovationRanking.head(5)
sorted(innovationRanking['Country Name'].unique())

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Dem. Peopleâ€™s Rep.',
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [94]:
countriesInGDPTable = [country for country in gdpPerCapita['Country/Territory']]
countriesInRanking = [country for country in innovationRanking['Country Name']]
list(set(countriesInGDPTable) - set(countiresInRanking))

['CuraÃ§ao',
 'Anguilla',
 'North Macedonia',
 'Eswatini',
 'East Timor',
 'Turks and Caicos Islan',
 'Congo',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Micronesia',
 'Saint Vincent and the Grenadines',
 'Ivory Coast',
 'DR Congo',
 'Iran',
 'Montserrat',
 'Zanzib',
 'North Korea',
 'SÃ£o TomÃ© and PrÃ­ncipe',
 'Hong Kong',
 'Gambia',
 'Laos',
 'Sint Maarten',
 'Slovakia',
 'Bahamas',
 'South Korea',
 'Venezuela',
 'Cape Verde',
 'Yemen',
 'Brunei',
 'Taiwan',
 'Palestine',
 'Egypt',
 'Syria',
 'Russia',
 'Kyrgyzstan',
 'Macau',
 'Cook Islands']

In [95]:
list(set(countiresInRanking) - set(countriesInGDPTable))

['Syrian Arab Republic',
 'Venezuela, RB',
 'Cabo Verde',
 'Isle of Man',
 'St. Lucia',
 'Gambia, The',
 'St. Vincent and the Grenadines',
 'Russian Federation',
 'Slovak Republic',
 'Macao SAR, China',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Congo, Dem. Rep.',
 'Timor-Leste',
 'Brunei Darussalam',
 'Macedonia, FYR',
 'Micronesia, Fed. Sts.',
 'Sint Maarten (Dutch part)',
 'West Bank and Gaza',
 'Iran, Islamic Rep.',
 'Faroe Islands',
 'Gibraltar',
 'Curacao',
 'Turks and Caicos Islands',
 'Korea, Dem. Peopleâ€™s Rep.',
 'Kyrgyz Republic',
 'Sao Tome and Principe',
 'Lao PDR',
 'St. Kitts and Nevis',
 'Bahamas, The',
 'St. Martin (French part)',
 'Egypt, Arab Rep.',
 'Yemen, Rep.',
 'Korea, Rep.',
 'Virgin Islands (U.S.)',
 'Channel Islands',
 'Swaziland']

In [96]:
def renameCountry(df, curName, newName):
    """
        Change the country in innovation ranking dataset to it's name in the gdpPerCapita dataset.
        Arguments:
            df: The dataframe to edit
            curName: The country's current name in the innovation ranking
            newName: The country's name in the gdpPerCapita dataset
    """
    df.loc[innovationRanking['Country Name'] == curName] = newName

In [97]:
print(sorted(innovationRanking['Indicator'].unique()))

['Applied tariff rate, weighted mean', 'Assessment in reading, mathematics, and science', 'Audiovisual and related services exports', 'Business environment', 'Business sophistication', 'Citable documents H index', 'Communications, computer and information services imports', 'Cost of redundancy dismissal', 'Country-code top-level domains (ccTLDs)', 'Creative goods and services', 'Creative goods exports', 'Creative outputs', 'Credit', 'Cultural and creative services exports', 'Daily newspapers circulation', 'Domestic credit to private sector', 'Domestic market scale', 'Ease of getting credit', 'Ease of paying taxes', 'Ease of protecting investors', 'Ease of protecting minority investors', 'Ease of resolving insolvency', 'Ease of starting a business', 'Ecological sustainability', 'Education', 'Electricity consumption', 'Electricity output', 'Employment in knowledge-intensive services', 'Entertainment and media market', 'Environmental performance', 'Expenditure on education', 'Females employed with advanced degrees', 'Firms offering formal training', 'Foreign direct investment, net inflows', 'Foreign direct investment, net outflows', 'GDP per unit of energy use', 'GERD financed by abroad', 'GERD financed by business enterprise', 'GERD performed by business enterprise', 'GMAT mean score', 'GMAT test takers', 'General infrastructure', 'Generic top-level domains (gTLDs)', 'Global Innovation Index', 'Global R&D companies, average expenditure top 3', 'Global entertainment and media market', 'Global entertainment and media output', 'Government effectiveness', 'Government expenditure on education per pupil, secondary', 'Government funding per secondary student', "Government's online service", 'Graduates in science and engineering', 'Gross capital formation', 'Gross expenditure on R&D (GERD)', 'Gross tertiary outbound enrolment', 'Growth rate of GDP per person engaged', 'High-tech and medium high-tech output', 'High-tech exports', 'High-tech imports', 'Human capital and research', 'ICT access', 'ICT services exports', 'ICT services imports', 'ICT use', 'ICTs and business model creation', 'ICTs and organizational model creation', 'ISO 14001 environmental certificates', 'ISO 9001 quality certificates', 'Industrial designs by origin', 'Information and communication technologies (ICTs)', 'Infrastructure', 'Innovation Efficiency Index', 'Innovation Efficiency Ratio', 'Innovation Input', 'Innovation Input Sub-Index', 'Innovation Output', 'Innovation Output Sub-Index', 'Innovation linkages', 'Institutions', 'Intangible assets', 'Intellectual property payments', 'Intellectual property receipts', 'Intensity of local competition', 'Investment', 'Joint venture/strategic alliance deals', 'Knowledge absorption', 'Knowledge and technology outputs', 'Knowledge creation', 'Knowledge diffusion', 'Knowledge impact', 'Knowledge workers', 'Logistics performance', 'Madrid system trademark applications by country of origin', 'Madrid system trademark registrations by country of origin', 'Market access for non-agricultural exports', 'Market capitalization', 'Market sophistication', "Microfinance institutions' gross loan portfolio", 'Mobile app creation', 'National feature films produced', 'National office patent applications', 'National office resident patent applications', 'National office resident trademark applications', 'National office resident trademark registrations', 'National office resident utility model applications', 'New business density', 'Online creativity', 'Online e-participation', 'PCT international applications by origin', 'Patent Cooperation Treaty resident applications', 'Patent applications by origin', 'Patent families filed in at least three offices', 'Patent families filed in at least two offices', 'Political environment', 'Political stability', 'Political stability and absence of violence/terrorism', 'Press freedom', 'Printing and publishing output', 'Printing, publications & other media output', 'Public expenditure on education per pupil', 'Pupil-teacher ratio, secondary', 'QS university ranking average score of top 3 universities', 'Regulatory environment', 'Regulatory quality', 'Research and development (R&D)', 'Research talent in business enterprise', 'Researchers', 'Royalties and license fees payments', 'Royalties and license fees payments (% of service imports)', 'Royalties and license fees payments (% of total trade)', 'Royalties and license fees receipts', 'Royalties and license fees receipts (% service exports)', 'Royalties and license fees receipts (% total trade)', 'Rule of law', 'School life expectancy', 'Scientific and technical publications', 'State of cluster development', 'Tertiary education', 'Tertiary enrolment', 'Tertiary inbound mobility', 'Tertiary level inbound mobility', 'Total computer software spending', 'Total value of stocks traded', 'Trade and competition', 'Trade, competition, & market scale', 'Trademark application class count by origin', 'University/industry research collaboration', 'Utility model applications by origin', 'Venture capital deals', 'Video uploads on YouTube', 'Wikipedia monthly edits', 'Wikipedia yearly edits']

In [98]:
innovationRanking.loc[(innovationRanking['Indicator'] == "Global Innovation Index") 
                      & (innovationRanking['Subindicator Type'] == "Rank")]

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013,2014,2015,2016,2017,2018,2019,2020
462,AGO,Angola,40711,Global Innovation Index,Rank,135.0,135.0,120.0,NaN,NaN,NaN,NaN,NaN
856,ALB,Albania,40711,Global Innovation Index,Rank,93.0,94.0,87.0,92.0,93.0,83.0,83.0,83.0
1267,ARE,United Arab Emirates,40711,Global Innovation Index,Rank,38.0,36.0,47.0,41.0,35.0,38.0,NaN,NaN
1652,ARG,Argentina,40711,Global Innovation Index,Rank,56.0,70.0,72.0,81.0,76.0,80.0,73.0,80.0
2035,ARM,Armenia,40711,Global Innovation Index,Rank,59.0,65.0,61.0,60.0,59.0,68.0,64.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58432,VNM,Vietnam,40711,Global Innovation Index,Rank,76.0,71.0,52.0,59.0,47.0,45.0,42.0,42.0
59022,YEM,"Yemen, Rep.",40711,Global Innovation Index,Rank,142.0,141.0,137.0,128.0,127.0,126.0,129.0,131.0
59411,ZAF,South Africa,40711,Global Innovation Index,Rank,58.0,53.0,60.0,54.0,57.0,58.0,63.0,60.0
59772,ZMB,Zambia,40711,Global Innovation Index,Rank,118.0,121.0,124.0,125.0,124.0,120.0,124.0,122.0
60137,ZWE,Zimbabwe,40711,Global Innovation Index,Rank,132.0,130.0,133.0,NaN,121.0,113.0,122.0,120.0

In [99]:
def globalIndex(indicator, indicatorType):
    """
        Return a data frame with each country's indicator value specified by indicatorType.
    """
    
    return innovationRanking.loc[(innovationRanking['Indicator'] == indicator) 
                      & (innovationRanking['Subindicator Type'] == indicatorType)]

In [100]:
globalInnovationIndexRanking = globalIndex("Global Innovation Index", "Rank")
globalInnovationIndexRanking.head(5)

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013,2014,2015,2016,2017,2018,2019,2020
462,AGO,Angola,40711,Global Innovation Index,Rank,135.0,135.0,120.0,NaN,NaN,NaN,NaN,NaN
856,ALB,Albania,40711,Global Innovation Index,Rank,93.0,94.0,87.0,92.0,93.0,83.0,83.0,83.0
1267,ARE,United Arab Emirates,40711,Global Innovation Index,Rank,38.0,36.0,47.0,41.0,35.0,38.0,NaN,NaN
1652,ARG,Argentina,40711,Global Innovation Index,Rank,56.0,70.0,72.0,81.0,76.0,80.0,73.0,80.0
2035,ARM,Armenia,40711,Global Innovation Index,Rank,59.0,65.0,61.0,60.0,59.0,68.0,64.0,61.0

In [101]:
addRankingColumn(globalInnovationIndexRanking)
globalInnovationIndexRanking.head(5)

C:\Users\14159\AppData\Local\Temp\ipykernel_15060\3478460049.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globalInnovationIndexRanking['Ranking'] = [chooseRanking(twoRanks[0], twoRanks[1]) for twoRanks in zip(globalInnovationIndexRanking['2019'], globalInnovationIndexRanking['2020'])]

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013,2014,2015,2016,2017,2018,2019,2020,Ranking
462,AGO,Angola,40711,Global Innovation Index,Rank,135.0,135.0,120.0,NaN,NaN,NaN,NaN,NaN,200.0
856,ALB,Albania,40711,Global Innovation Index,Rank,93.0,94.0,87.0,92.0,93.0,83.0,83.0,83.0,83.0
1267,ARE,United Arab Emirates,40711,Global Innovation Index,Rank,38.0,36.0,47.0,41.0,35.0,38.0,NaN,NaN,200.0
1652,ARG,Argentina,40711,Global Innovation Index,Rank,56.0,70.0,72.0,81.0,76.0,80.0,73.0,80.0,80.0
2035,ARM,Armenia,40711,Global Innovation Index,Rank,59.0,65.0,61.0,60.0,59.0,68.0,64.0,61.0,61.0

In [102]:
globalInnovationIndexRanking= globalInnovationIndexRanking.rename(columns = {"Country Name": "Country/Territory"})
combinedDF = gdpPerCapita.set_index('Country/Territory').join(globalInnovationIndexRanking[['Country/Territory', 'Ranking']].set_index('Country/Territory'))

In [103]:
combinedDF['Country/Territory'] = combinedDF.index

In [104]:
cellsToClean = [("Taiwan", "UN Year", "2020"),("China", "IMF Year", "2022"), ("China", "UN Year", "2020")
                , ("Tanzania", "UN Year", "2020"), ("Palestine", "IMF Year", "2022")]
cleanFootNoteCells(combinedDF, cellsToClean)

In [81]:
''' Cleaning data : the function above doesn't work, so if you look in data, Tanzania has ]n for one of the years. Look 
    at the table on the webpage, there is a footnote there. 
'''
rowLocation = combinedDF['Country/Territory'].tolist().index("China")
colLocation = [col for col in combinedDF.columns].index("IMF Year")
combinedDF.iat[rowLocation, colLocation]

'2022'

In [106]:
createEstimateColumn(combinedDF)
combinedDF.head()

,UN Region,IMF Estimate,IMF Year,UN Estimate,UN Year,World Bank Estimate,World Bank Year,Ranking,Country/Territory,GDP Per Capita
Country/Territory,,,,,,,,,,
Liechtenstein,Europe,0,0,"180,227",2020,"175,814",2019,NaN,Liechtenstein,"180,227"
Monaco,Europe,0,0,"173,696",2020,"190,513",2019,NaN,Monaco,"173,696"
Luxembourg,Europe,"135,046",2022,"117,182",2020,"115,874",2020,18.0,Luxembourg,"135,046"
Bermuda,Americas,0,0,"123,945",2020,"107,080",2020,NaN,Bermuda,"107,080"
Ireland,Europe,"101,509",2022,"86,251",2020,"85,268",2020,15.0,Ireland,"101,509"