In [2]:
import pandas as pd
import os

In [6]:
pathToData = os.path.join(os.getcwd(), "Data")
pathToGDPTable = os.path.join(pathToData, "GDP Per Capita.xlsx")
pathToRanking = os.path.join(pathToData, "World Innovation Index.csv")

In [8]:
gdpPerCapita = pd.read_excel(pathToGDPTable, index_col = 0)
gdpPerCapita.head(5)

,Country/Territory,UN Region,IMF Estimate,IMF Year,UN Estimate,UN Year,World Bank Estimate,World Bank Year
0,Liechtenstein,Europe,0,0,"180,227",2020,"175,814",2019
1,Monaco,Europe,0,0,"173,696",2020,"190,513",2019
2,Luxembourg,Europe,"135,046",2022,"117,182",2020,"115,874",2020
3,Bermuda,Americas,0,0,"123,945",2020,"107,080",2020
4,Ireland,Europe,"101,509",2022,"86,251",2020,"85,268",2020

In [10]:
innovationRanking = pd.read_csv(pathToRanking)
innovationRanking.head(5)

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013,2014,2015,2016,2017,2018,2019,2020
0,ABW,Aruba,40261,Institutions,Rank,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN
1,ABW,Aruba,40262,Institutions,Score (0-100),NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,ABW,Aruba,40266,Political stability,Value,NaN,NaN,1.3,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,40270,Political stability and absence of violence/te...,Index,NaN,1.3,NaN,1.2,NaN,NaN,NaN,NaN
4,ABW,Aruba,40274,Government effectiveness,Index,NaN,1.2,1.2,0.9,NaN,NaN,NaN,NaN

In [13]:
print(sorted(innovationRanking['Indicator'].unique()))

['Applied tariff rate, weighted mean', 'Assessment in reading, mathematics, and science', 'Audiovisual and related services exports', 'Business environment', 'Business sophistication', 'Citable documents H index', 'Communications, computer and information services imports', 'Cost of redundancy dismissal', 'Country-code top-level domains (ccTLDs)', 'Creative goods and services', 'Creative goods exports', 'Creative outputs', 'Credit', 'Cultural and creative services exports', 'Daily newspapers circulation', 'Domestic credit to private sector', 'Domestic market scale', 'Ease of getting credit', 'Ease of paying taxes', 'Ease of protecting investors', 'Ease of protecting minority investors', 'Ease of resolving insolvency', 'Ease of starting a business', 'Ecological sustainability', 'Education', 'Electricity consumption', 'Electricity output', 'Employment in knowledge-intensive services', 'Entertainment and media market', 'Environmental performance', 'Expenditure on education', 'Females employed with advanced degrees', 'Firms offering formal training', 'Foreign direct investment, net inflows', 'Foreign direct investment, net outflows', 'GDP per unit of energy use', 'GERD financed by abroad', 'GERD financed by business enterprise', 'GERD performed by business enterprise', 'GMAT mean score', 'GMAT test takers', 'General infrastructure', 'Generic top-level domains (gTLDs)', 'Global Innovation Index', 'Global R&D companies, average expenditure top 3', 'Global entertainment and media market', 'Global entertainment and media output', 'Government effectiveness', 'Government expenditure on education per pupil, secondary', 'Government funding per secondary student', "Government's online service", 'Graduates in science and engineering', 'Gross capital formation', 'Gross expenditure on R&D (GERD)', 'Gross tertiary outbound enrolment', 'Growth rate of GDP per person engaged', 'High-tech and medium high-tech output', 'High-tech exports', 'High-tech imports', 'Human capital and research', 'ICT access', 'ICT services exports', 'ICT services imports', 'ICT use', 'ICTs and business model creation', 'ICTs and organizational model creation', 'ISO 14001 environmental certificates', 'ISO 9001 quality certificates', 'Industrial designs by origin', 'Information and communication technologies (ICTs)', 'Infrastructure', 'Innovation Efficiency Index', 'Innovation Efficiency Ratio', 'Innovation Input', 'Innovation Input Sub-Index', 'Innovation Output', 'Innovation Output Sub-Index', 'Innovation linkages', 'Institutions', 'Intangible assets', 'Intellectual property payments', 'Intellectual property receipts', 'Intensity of local competition', 'Investment', 'Joint venture/strategic alliance deals', 'Knowledge absorption', 'Knowledge and technology outputs', 'Knowledge creation', 'Knowledge diffusion', 'Knowledge impact', 'Knowledge workers', 'Logistics performance', 'Madrid system trademark applications by country of origin', 'Madrid system trademark registrations by country of origin', 'Market access for non-agricultural exports', 'Market capitalization', 'Market sophistication', "Microfinance institutions' gross loan portfolio", 'Mobile app creation', 'National feature films produced', 'National office patent applications', 'National office resident patent applications', 'National office resident trademark applications', 'National office resident trademark registrations', 'National office resident utility model applications', 'New business density', 'Online creativity', 'Online e-participation', 'PCT international applications by origin', 'Patent Cooperation Treaty resident applications', 'Patent applications by origin', 'Patent families filed in at least three offices', 'Patent families filed in at least two offices', 'Political environment', 'Political stability', 'Political stability and absence of violence/terrorism', 'Press freedom', 'Printing and publishing output', 'Printing, publications & other media output', 'Public expenditure on education per pupil', 'Pupil-teacher ratio, secondary', 'QS university ranking average score of top 3 universities', 'Regulatory environment', 'Regulatory quality', 'Research and development (R&D)', 'Research talent in business enterprise', 'Researchers', 'Royalties and license fees payments', 'Royalties and license fees payments (% of service imports)', 'Royalties and license fees payments (% of total trade)', 'Royalties and license fees receipts', 'Royalties and license fees receipts (% service exports)', 'Royalties and license fees receipts (% total trade)', 'Rule of law', 'School life expectancy', 'Scientific and technical publications', 'State of cluster development', 'Tertiary education', 'Tertiary enrolment', 'Tertiary inbound mobility', 'Tertiary level inbound mobility', 'Total computer software spending', 'Total value of stocks traded', 'Trade and competition', 'Trade, competition, & market scale', 'Trademark application class count by origin', 'University/industry research collaboration', 'Utility model applications by origin', 'Venture capital deals', 'Video uploads on YouTube', 'Wikipedia monthly edits', 'Wikipedia yearly edits']

In [20]:
innovationRanking.loc[(innovationRanking['Indicator'] == "Global Innovation Index") 
                      & (innovationRanking['Subindicator Type'] == "Rank")]

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013,2014,2015,2016,2017,2018,2019,2020
462,AGO,Angola,40711,Global Innovation Index,Rank,135.0,135.0,120.0,NaN,NaN,NaN,NaN,NaN
856,ALB,Albania,40711,Global Innovation Index,Rank,93.0,94.0,87.0,92.0,93.0,83.0,83.0,83.0
1267,ARE,United Arab Emirates,40711,Global Innovation Index,Rank,38.0,36.0,47.0,41.0,35.0,38.0,NaN,NaN
1652,ARG,Argentina,40711,Global Innovation Index,Rank,56.0,70.0,72.0,81.0,76.0,80.0,73.0,80.0
2035,ARM,Armenia,40711,Global Innovation Index,Rank,59.0,65.0,61.0,60.0,59.0,68.0,64.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58432,VNM,Vietnam,40711,Global Innovation Index,Rank,76.0,71.0,52.0,59.0,47.0,45.0,42.0,42.0
59022,YEM,"Yemen, Rep.",40711,Global Innovation Index,Rank,142.0,141.0,137.0,128.0,127.0,126.0,129.0,131.0
59411,ZAF,South Africa,40711,Global Innovation Index,Rank,58.0,53.0,60.0,54.0,57.0,58.0,63.0,60.0
59772,ZMB,Zambia,40711,Global Innovation Index,Rank,118.0,121.0,124.0,125.0,124.0,120.0,124.0,122.0
60137,ZWE,Zimbabwe,40711,Global Innovation Index,Rank,132.0,130.0,133.0,NaN,121.0,113.0,122.0,120.0

In [22]:
def globalIndex(indicator, indicatorType):
    """
        Return a data frame with each country's indicator value specified by indicatorType.
    """
    
    return innovationRanking.loc[(innovationRanking['Indicator'] == indicator) 
                      & (innovationRanking['Subindicator Type'] == indicatorType)]

In [24]:
globalInnovationIndexRanking = globalIndex("Global Innovation Index", "Rank")
globalInnovationIndexRanking.head(5)

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013,2014,2015,2016,2017,2018,2019,2020
462,AGO,Angola,40711,Global Innovation Index,Rank,135.0,135.0,120.0,NaN,NaN,NaN,NaN,NaN
856,ALB,Albania,40711,Global Innovation Index,Rank,93.0,94.0,87.0,92.0,93.0,83.0,83.0,83.0
1267,ARE,United Arab Emirates,40711,Global Innovation Index,Rank,38.0,36.0,47.0,41.0,35.0,38.0,NaN,NaN
1652,ARG,Argentina,40711,Global Innovation Index,Rank,56.0,70.0,72.0,81.0,76.0,80.0,73.0,80.0
2035,ARM,Armenia,40711,Global Innovation Index,Rank,59.0,65.0,61.0,60.0,59.0,68.0,64.0,61.0